


#carga{
  display: none;
}
#labelcarga{
  background-color: #21618C;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  width: fit-content;
  text-align: center;
  color: #fff;
}
#envia{
  display: none;
}
#labelenvia{
  background-color: #212F3C;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  width: fit-content;
  text-align: center;
  color: #fff;
}
#labelcarga:hover{
  background: #5DADE2;
}
#labelcarga:onClick{
  background: #1B4F72;
}
#labelenvia:hover{
  background: #85929E;
}
#labelenvia:onClick{
  background: #1B2631;
}

#area{
  text-align: justify;
  border: 3px dashed #aaa;
  border-radius: 5px;
  color: #555;
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  height: 80vh;
  justify-content: center;
  max-height: 400px;
  margin: 30px auto;
  overflow: auto;
  padding: 25px;
  white-space: pre-line;
  width: 80%;
  max-width: 600px;
}

h3 {
  font-weight: 400;
}
